.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.form-control {
    margin: 10px 0px
}

/* Journal css */
.journal-area {
    flex-wrap: wrap;
    font-family: 'Times New Roman', Times, serif;
}

textarea {
    overflow: auto;
    background : none;
}

/* For non-natively-focusable elements. For natively focusable elements */
/* Use .visually-hidden:not(:focus):not(:active) */
/* From: https://css-tricks.com/html-inputs-and-labels-a-love-story */
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
  }

/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
    padding-right: 0.5%;
}

/* Error text */
.error {
    color:red;
}

/* Response text */
.response {
    color:grey;
}

/* Styling borrowed from birthday's pset css */
table {
    margin-bottom: 1rem;
    width: 100%;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

tbody tr:nth-of-type(odd) {
    background-color: rgb(179, 208, 255, 0.3)
}

