/* Fonts */
@font-face {
    font-family: Termina;
    src: url(defaultfont.otf);
}
body {
    font-family: 'Termina', 'Times New Roman', serif;
}

/* Global styles */
.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}
.form-control {
    margin: 10px 0px;
}
.allcaps {
    text-transform: uppercase;
}
.red {
    color:red;
}
.row {
    align-items: center;
}

.col {
    border-style: hidden;
}

#page-container {
    position: relative;
    min-height: 93vh;
  }
  
#content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 2.5rem;            /* Footer height */
}

/* Journal styles */
.journal-area {
    flex-wrap: wrap;
}
.journal {
    overflow: auto;
    background: none;
    font-family: 'Times New Roman', Times, serif;
}
.jbutton {
    margin-bottom: 1.25rem;
    background-color: #abb8c3;
    color: #000000;
}
.jbutton:hover {
    background-color: green;
}
.journals tbody tr:nth-of-type(even) {
    background-color: #abb8c3;
    border-radius: 0.25rem;
    border-style: hidden;
    cursor: pointer;
    /* font-family: 'Times New Roman', Times, serif; */
}

.distinct {
    background-color: #8eadc7 !important;
}

#save-indicator {
    font-size: 0.85rem;
    margin-bottom: 0.85rem;
}

/* Navigation styles */
nav .navbar-brand {
    font-size: 16px;
    padding-right: 0.5%;
}

@media (min-width: 1199px) {
    .navbar-nav.custom-nav {
        justify-content: flex-end;
    }
    nav .nav-link {
        font-size: 14px;
    }
}
/* Expanded */
@media (max-width: 1199px) {
    .navbar-nav.custom-nav {
        justify-content: center;
        text-align: center;
    }
    nav .nav-link {
        font-size: 24px;
    }
}

/* Admin styles */
.admincheck {
    vertical-align: center;
}
.error {
    color: red;
}
#check-admin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#check-admin .form-check-label {
    padding: 2px 0 0 5px;
    font-size: 15px;
}

/* Other styles */
.response {
    color: grey;
}
.goto a {
    background-color: #0f67b0;
    color: #fff;
    padding: 7px 5px 8px 5px;
    border-radius: 2rem;
}
.clients tbody {
    border-radius: 0.25rem;
    border-style: hidden;
    font-family: 'Times New Roman', Times, serif;
}
/* .clients tbody:hover .row {
    background-color: #f0f0f0; 
    cursor: pointer;
} 
*/
.clients tbody tr:nth-of-type(even) {
    background-color: rgb(209, 207, 207);
}
.clients tbody tr:nth-of-type(odd) {
    background-color: rgb(229, 229, 229);
}

/* Accessibility styles */
.visually-hidden {
    border-width: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}
