{% extends "layout.html" %}

{% block title %}
    Client's Journals
{% endblock %}

{% block main %}
    <!-- Unresponded Section -->
    <div class="section">
        <h2>Client Posts</h2>
        <table class="table">
            <tbody>
                {% for journal in journals_new %}
                    <tr class="row">
                        <td class="col"> {{ journal.time_crte | format_datetime }} </td>
                    </tr>
                    <tr class="row">
                        <td class="col"><a href={{ "/respond/" ~journal.id }}>Go to?</a></td>
                        <td class="col"> {{ journal.content | e }} </td>
                        <td class="col"><i>You haven't responded to this journal yet.</i></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <hr>
        <!-- Responded to Section -->
        <table class="table">
            <tbody>
                {% for journal in journals_old %}
                    <tr class="row">
                        <td class="col"> {{ journal.time_crte | format_datetime }} </td>
                    </tr>
                    <tr class="row">
                        <td class="col"><a href={{ "/respond/" ~journal.id }}>Go to?</a></td>
                        <td class="col"> {{ journal.content | e }} </td>
                        <td class="col"> {{ journal.response | e }} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
{% endblock %}