<!-- Forgot Password page -->
{% extends "layout.html" %}

{% block title %}
    Forgot Password
{% endblock %}

{% block main %}
    <div class="container mb-3 text-center">
        <form action="/forgot-password" method="post">
            <h2>Forgot Password</h2>
            <p><i>If you don't have an account with us and are a current client, please email us and we'll get you setup.</i></p>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email" required>
            <button class="btn btn-outline-secondary jbutton" type="submit">Send Reset Link</button>
        </form>
    </div>
{% endblock %}