{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <div class="journals">
        {% if user %}
            <h2>Current user logged in: {{ user }} </h2>
        {% endif %}
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/journal" class="btn btn-secondary jbutton" type="button">Make a new entry</a>
        </div>
        <!-- This code is adapted from the birthdays pset -->
        {% if posts %}
            <div class="section">
                <h2 class="text-center">Your Posts</h2>
                <table class="table">
                    <tbody>
                        {% for journal in posts %}
                            <tr class="row">
                                <td class="col"> {{ journal.time_crte|format_datetime }} </td>
                            </tr>
                            <tr class="row">
                                <td class="col goto"><a href={{ "/journals/" ~journal.id }}>Go to?</a></td>
                                {% if journal.content %}
                                    <td class="col text-center jcontent"> {{ journal.content }} </td>
                                {% else %}
                                    <td class="col text-center jcontent"><i>This seems to be an empty draft.</i></td>
                                {% endif %}
                                {% if journal.submitted == 1 %}
                                    {% if journal.response %}
                                        <td class="col text-end jresponse"> {{ journal.response }} </td>
                                    {% else %}
                                        <td class="col text-end jresponse"><i>No response yet.</i></td>
                                    {% endif %}
                                {% else %}
                                    <td class="col text-end jresponse"><i>You haven't submitted this yet.</i></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h3 class="text-center">You have no posts yet.</h3>
        {% endif %}
    </div>
{% endblock %}