{% extends "layout.html" %}

{% block title %}
    Response
{% endblock %}

{% block main %}

    <div class="text-center journal-area">
        <!-- This html is meant to be similar to the /journals one-->
        <form action={{ "/respond/" ~ post_id }} method="post">
            <div class="container">
                <div class="row g-3">
                    <h1 class="text-start col-lg">Client Journal here:</h2>
                    <h1 class="text-end col-lg">Respond here:</h2>
                </div>
                <div class="input-group mb-3">
                    <label for="journal" aria-describedby="journal" class="visually-hidden">Journal is here!</label>
                    <!-- Apologies for the long line of html - but I have a lot of info to add! -->
                    <textarea aria-label="Journal" class="form-control journal fs-3" disabled id="journal" 
                    name="journal" rows=13> {% if content %}{{ content }}{% endif %} </textarea>
                    <!-- https://stackoverflow.com/questions/27451693/display-two-fields-side-by-side-in-a-bootstrap-form -->
                    <label for="response" aria-describedby="response" class="visually-hidden">Respond here!</label>
                    <textarea aria-label="Respond" class="form-control journal fs-3" id="response" 
                    name="response" placeholder="Respond to the journal!" rows=13> {% if response %}{{ response }}{% endif %} </textarea>
                </div>
                <!-- Save Draft, Publish, Delete Draft Buttons -->
                <div class="row g-3">
                    <div class="col-lg">
                        <button class="btn btn-outline-secondary" name="submit_button" value="saveDraftR" type="submit">Save Draft</button>
                    </div>
                    <div class="col-lg">
                        <button class="btn btn-outline-success" name="submit_button" value="sendResp" type="submit">Send Response</button>
                    </div>
                    <div class="col-lg">
                        <button class="btn btn-outline-danger" name="submit_button" value="deleteDraftR" type="submit">Delete Draft</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
{% endblock %}